.container{
    margin-bottom: 50px;
}

.buy-now-button{
background-color: rgb(14, 13, 13);
border: none;
font-size: 22px;
padding: 8px 25px;
border-radius: 5px;
color: aliceblue;
cursor: pointer;

}
.carousel-item{
    padding: 40px 40px;
}

.slide-button{
    background-color: orange;
}
.carousel-control-color{
    background-color: orange;
}

#banner-section .carousel-indicators [data-bs-target] {
    background-color: orange;

}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: orange;
    opacity: 7%;
}
.card-img{
    padding: 30px 30px;
}
.card{
    border: none;
    box-shadow: 3px 3px 10px lightgray;
    border-radius: 8px;
}
.smartphon-text{
    margin-bottom: 40px;
}
h4{
    color: orange;
}
.line{
    border: 2px;
}
.box{
    border-width: 20px;
}

.line{
    width: 100px;
    height: 2px;
}

#catagories .section-title::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 8px;
    background: orange;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}





